{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}AI Diabetes Detector{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" action="/inputs">
    <div><label for="age">Age</label>
        <input type="text" name="age" id="age" required placeholder="Enter your age..">
    </div>
    <div><label for="gender">Gender</label>
        <select name="gender" id="gender" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div><label for="bmi">BMI</label>
        <input type="text" name="bmi" id="bmi" required placeholder="{{min_bmi}} to {{max_bmi}}">
    </div>
    <div><label for="bmi_category">BMI Category</label>
        <select name="bmi_category" id="bmi_category" required>
            <option value="Underweight">Under Weight</option>
            <option value="Normal weight">Normal Weight</option>
            <option value="Overweight">Over Weight</option>
            <option value="Obesity">Obesity</option>
        </select>
    </div>
    <div>
        <label for="systolic">Systolic</label>
        <input type="text" name="systolic" id="systolic" required placeholder="{{min_systolic}} to {{max_systolic}}">

    </div>
    <div>
        <label for="diastolic">Diastolic</label>
        <input type="text" name="diastolic" id="diastolic" required placeholder="{{min_diastolic}} to {{max_diastolic}}">

    </div>
    <div>
        <label for="bp_category">BP Category</label>
        <select name="bp_category" id="bp_category" required>
            <option value="Normal">Normal</option>
            <option value="Elevated">Elevated</option>
            <option value="Hypertension Stage 1">Hypertension Stage 1</option>
            <option value="Hypertension Stage 2">Hypertension Stage 2</option>
        </select>
    </div>

    <div>
        <label for="cholesterol">Cholesterol</label>
        <input type="text" name="cholesterol" id="cholesterol" required placeholder="{{min_cholesterol}} to {{max_cholesterol}}">

    </div>
    <div>
        <label for="cholesterol_category">Cholesterol Category</label>
        <select name="cholesterol_category" id="cholesterol_category">
            <option value="High">High</option>
            <option value="Borderline high">Borderline High</option>
            <option value="Normal">Normal</option>
        </select>
    </div>

    <div>
        <label for="glucose">Glucose</label>
        <input type="text" name="glucose" id="glucose" required placeholder="{{min_glucose}} to {{max_glucose}}">
    </div>

    <div>
        <input type="submit" value="Submit" class="submit">
    </div>

</form>

{% endblock %}